@font-face {
  font-family: 'Iosevka';
  src: url('iosevka-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Iosevka';
  src: url('iosevka-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}